.buttonImageContainer {
    width: 32px;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
}

.buttonImageContainer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.buttonImage {
    width: 32px;
    height: 32px;
}

.buttonImageText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vh;
}